*{
    margin: 0px;
    padding: 0px;
    
}

html, body
{
    background-image: url('./photos/Website-Background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}


nav .nav-links
{
    list-style-type: none;
    padding-top: 2%;
    padding-left: 2%;
}

nav .nav-links .resume img
{
    width: 75px;
    height: auto;
}