*{
    margin: 0px;
    padding: 0px;

}

body
{
    /*background-color: dimgrey;*/
    background: linear-gradient(to left, #daf0e7, #d0faea);}

nav
{
    display: flex;
    min-height: 8vh;
    
    margin-left: 3%;
    margin-top: 1%;

}
.header
{
    display: inline-flexbox;
    align-items: left;
    text-align: left;
    float: eft;
}
.header h1
{
    
    align-items: left;
    text-align: left;
    float: left;
    color: #3ba57c;
    font-family: 'Oregano', cursive;
    font-size: 55px;
    text-shadow: 0.5px 0.5px;
    text-emphasis-style: circle;
    margin-top: -3px;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

.header p
{
    display: relative;
    color: #2bca8d;
    font-family: 'Oregano', cursive;
    text-shadow: 0.5px 0.5px darkgray;
    

    letter-spacing: 4%;
    font-size: 20px;
}

.nav-links 
{
    font-size: 0;
    padding-left: 130px;
    margin-left: 12%;
    margin-top: 20px;
    
}
.nav-links ul
{
    display: relative;
    float: right;


    list-style-type: none;

}
.nav-links li
{
    display: inline;
    padding: 20px;
}

.nav-links a
{
    text-decoration: none;
    color: #575757;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    background-size: cover;
    padding-top: 20px;
}

.nav-links a:hover
{
    border-top: 3px solid #3ba57c;
    padding-top: 5px;
    
}

.burger
{
    display: none;
}

.burger a
{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    font-size: 22px;
    color: #575757;
    margin: 5px;
    font-weight: bolder;

}

/*  <<<                RESUME CSS              >>>  */

.resume
{
    margin-left: 5%;
    margin-right: 5%;
}

.resume .edit-date
{
    width: 100%;
    position: block;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.res-header
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.res-header a
{
    text-decoration: none;
}

.resume-text
{
    font-family: 'Roboto', sans-serif;
}

.resume ul
{
    width: 40%;
    float: left;
    margin: 0 5%;
    
    
}



img
{
    display: block;

    float: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.source 
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;

}

.source li
{
    display: inline-block;

    align-items: center;
}

.source .text
{
    color: #3ba57c;
    font-weight: bold;
}

.desc
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.desc li
{
    display: inline-block;
    color: #3ba57c;
    font-weight: bold;
    align-items: center;
}

